.quote-card-content{
  text-align: left;
  font-style: italic;
  font-size: 2em;
  font-family: 'Courier New', Courier, monospace;
}

.quote-card{
  text-align: center;
  display: flexbox;
  margin-left: 50vh;
  margin-top: 20vh;
}